.client {
    margin-top: 13rem;

    &__container {
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:nth-child(2) {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            column-gap: 6rem;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__title {
        transition: 1s all;
        transform: translateX(-100%);
        opacity: 0;
        &._active {
            z-index: -1;
            opacity: 1;
            transition: 1s all;
            transform: translateX(0);
        }
    }

    &__subtitle {
        width: 33.6rem;
        transition: 1s all;
        transform: translateX(-100%);
        opacity: 0;
        &._active {
            z-index: -1;
            opacity: 1;
            transition: 1s all;
            transform: translateX(0);
        }
    }

    &__icon {
        transition: 1s all;
        transform: scale(0);
        opacity: 0;
        &._active {
            z-index: -1;
            opacity: 1;
            transition: 1s all;
            transform: scale(1);
        }
        &:last-child {
            padding-top: 23px;
        }
        
        img {
            width: 100%;
        }
    }
}

@media (max-width: 1024px) {
    .client {
        margin-top: 6rem;
    }
}
@media (max-width: 768px) {
    .client {
        &__wrapper {
            text-align: center;
            flex-direction: column;
            row-gap: 15px;
        }
        &__subtitle {
            width: 100%;
        }
        &__item {
            &:nth-child(2) {
                justify-content: center;
            }
        }
    }
}