.comments {
    margin-top: 11.7rem;
    &__container {
        max-width: 97%;
    }

    &__title {
        text-align: center;
    }

    &__subtitle {
        margin-top: 1.7rem;
        text-align: center;
        
    }

    &__wrapper {
        margin-top: 7rem;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        &:last-child {
            position: relative;
            padding-top: 8rem;

        }
    }

    &__slider {
    }

    &__slider-item {
    }

    &__slider-wrapper {
        display: flex;
        align-items: center;
    }

    &__slider-img {
        position: relative;
        width: 100%;
    }

    &__slider-figure {
        box-sizing: border-box;
        position: absolute;
        width: 12rem;
        height: 12rem;
        border: 0.8rem solid #FF007A;
        border-radius: 100%;
        bottom: 9rem
    }

    &__dots-wrapper-3 {
        position: absolute;
        right: 0;
        z-index: -1;
    }

    &__slider-descr {
        width: 68.2rem;
        
    }

    &__slider-title {
    }

    &__slider-subtitle {
        padding-top: 2rem;
        font-size: 1.5rem;
    }

    &__item-wrapper {
        position: relative;
        width: 35rem;
        height: 35rem;
    }

    &__item-figure {
        left: 2rem;
        top: 10.7rem;
        position: absolute;
        z-index: -1;
        width: 18.4rem;
        height: 18.4rem;
        background: #FFF5DB;
        border-radius: 100%;
    }

    &__item-icon {
        &:nth-child(2) {
            position: absolute;
            top: 10.7rem;
            right: 10.4rem;
        }
        &:nth-child(3) {
            position: absolute;
            top: 5rem;
        }
        &:nth-child(4) {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        &:nth-child(5) {
            position: absolute;
            right: 4.5rem;
            top: 6.3rem;
        }
        &:nth-child(6) {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
        &:nth-child(7) {
            position: absolute;
            right: 5.4rem;
            bottom: 6rem;
        }
        &:nth-child(8) {
            position: absolute;
            bottom: 0;
            left: 9.8rem;
        }
        &:nth-child(9) {
            position: absolute;
            bottom: 8.4rem;
            left: 0;
        }

    }
}
.slick-dots {
    position: absolute;
    display: flex;
    column-gap: 1.3rem;
    font-size: 0;
    top: 30rem;
    left: 43rem;

    li {
        cursor: pointer;
        text-decoration: none;
        list-style-type: none;
        width: 1.6rem;
        height: 1.6rem;
        border: none;
        border-radius: 100%;
        background: #E7F0FC;
        transition: .3s all;
        &:hover {
            transition: .3s all;
            background: #cae1ff;
        }
        button {
            border: none;
            list-style-type: none;
            font-size: 0;
        }
    }
    .slick-active {
        width: 1.6rem;
        height: 1.6rem;
        border: none;
        border-radius: 100%;
        background: #2639ED;
        &:hover {
            transition: .3s all;
            background: #1c2aae;;
        }
    }
}
.slick-slider {

}
.slick-list {
    position: relative;
    width: 79.9rem;
}
.slick-slide {
    width: 80rem;
    height: 44rem;
}

.slick-current {
    width: 80rem;
}

@media (max-width: 1024px) {
    .comments {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
        }
        &__item {
            &:last-child {
                padding-top: 0;
                display: flex;
                justify-content: center;
            }
        }
        &__slider-wrapper {
            flex-direction: column;
        }
        
        &__dots-wrapper-3 {
            right: 1rem;
        }
        &__slider-descr {
            width: 40rem;
            padding-top: 2rem;
        }

    }
    .slick-list {
        width: 40rem;
        margin: 0 auto;
    }
    .slick-slide {
        height: 60rem;
    }
    .slick-dots {
        top: 37rem;
        left: 17rem;
    }
}
@media (max-width: 768px) {
    .comments {
        &__dots-wrapper-3 {
            right: 2rem;
        }
    }
}
@media (max-width: 500px) {
    .slick-list {
        width: 35rem;
    }
    .comments {
        &__slider-descr {
            width: 35rem;
        }
        &__dots-wrapper-3 {
            right: 0rem;
        }
    }
    .slick-dots {
        top: 33rem;
        left: 11rem;
    }
}