.help {
    margin-top: 10rem;
    &__container {
        position: relative;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        &:first-child {
            position: relative;
        }
        &:last-child {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            column-gap: 3.4rem;
            row-gap: 3rem;
            justify-content: center;
        }
    }

    &__bg {
        position: absolute;
        top: 15rem;
        width: 101.7rem;
        height: 68.9rem;
        background: #F4F9FF;
        border-radius: 150px 0px 0px 0px;
        z-index: -1;
    }

    &__figure-1 {
        position: absolute;
        z-index: -1;
        top: -7rem;
        left: -3rem;
        width: 17.8rem;
        height: 17.8rem;
        background: #FFF5DB;
        border-radius: 0px 0px 100px 0px;
        transform: rotate(-180deg), scale(0);
        transition: 2s all;
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 2s all;
            transform: scale(1);
        }
    }

    &__title {
        width: 36rem;
        transition: 1s all;
        transform: translateX(-100%);
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 1s all;
            transform: translateX(0);
        }
    }

    &__subtitle {
        width: 40rem;
        margin-top: 3rem;
        transition: 1s all;
        transform: translateX(-100%);
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 1s all;
            transform: translateX(0);
        }
        
    }

    &__figure-2 {
        box-sizing: border-box;
        position: absolute;
        z-index: -2;
        bottom: 6rem;
        right: 4rem;
        width: 12rem;
        height: 12rem;
        border: 0.8rem solid #FF007A;
        border-radius: 100%;
        transition: 1s all;
        transform: translateY(100%);
        &._active {
            opacity: 1;
            transition: 1s all;
            transform: translateY(0);
        }
    }

    &__box {
        padding-top: 4rem;
        width: 30.8rem;
        height: 37.9rem;
        background: #FFFFFF;
        border: 0.01rem solid #F2F2F2;
        box-shadow: 0px 1rem 5rem rgba(0, 0, 0, 0.05);
        border-radius: 4rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        &:nth-child(3) {
            margin-top: 9rem;
            transition: 1s all;
            transform: translateY(-100%);
            opacity: 0;
            &._active {
                opacity: 1;
                transition: 1s all;
                transform: translateY(0);
            }
        }
        &:nth-child(4) {
            transition: 1s all;
            transform: translateY(-100%);
            opacity: 0;
            &._active {
                opacity: 1;
                transition: 1s all;
                transform: translateY(0);
            }
        }
        &:nth-child(5) {
            transition: 1s all;
            transform: translateY(100%);
            opacity: 0;
            &._active {
                opacity: 1;
                transition: 1s all;
                transform: translateY(0);
            }
        }
        &:nth-child(6) {
            margin-top: -9rem;
            transition: 1s all;
            transform: translateY(100%);
            opacity: 0;
            &._active {
                opacity: 1;
                transition: 1s all;
                transform: translateY(0);
            }
        }
    }

    &__icon-wrapper {
        width: 12.1rem;
        height: 12.1rem;
        border-radius: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__icon {
        img {
            width: 100%;
        }
        
    }

    &__box-title {
        padding-top: 3rem;
    }

    &__box-subtitle {
        padding-top: 3rem;
        text-align: center;
    }

    &__dots-wrapper-2 {
        position: absolute;
        z-index: -2;
        bottom: 5rem;
        left: 0;
        display: flex;
        transition: 2s all;
        transform:scale(0);
        opacity: 0;
        &._active {
            opacity: 1;
            transition: 2s all;
            transform: scale(1);
        }
    }
}

@media (max-width: 1024px) {
    .help {
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__figure-2 { 
            z-index: -1;
        }
        &__bg {
            width: 100%;
            height: 96%;
            border-radius: 2rem;
        }
        &__wrapper {
            padding-top: 11rem;
            flex-direction: column;
        }
        &__item {
            &:last-child {
                margin-top: 5rem;
            }
        }
        &__dots-wrapper-2 {
            top: 27rem;
            left: 36%;
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 768px) {
    .help {
        &__box {
            &:nth-child(6) {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 500px) {
    .help {
        &__wrapper {
            padding-top: 5rem;
        }
        &__title {
            width: 100%;
        }
        &__figure-1 {
            left: 2rem;
        }
        &__subtitle {
            font-size: 1.4rem;
        }
    }
}