@font-face {
	font-family: AvertaDemoPECuttedDemo;
	font-display: swap;
	src: url("../fonts/AvertaDemoPECuttedDemo-Regular.woff2") format("woff2"), url("../fonts/AvertaDemoPECuttedDemo-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal
}
@font-face {
	font-family: proximanova_bold;
	font-display: swap;
	src: url("../fonts/proximanova_bold.woff2") format("woff2"), url("../fonts/proximanova_bold.woff") format("woff");
	font-weight: 700;
	font-style: normal
}
